<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title></title>
	<link href="/stylesheet/wachat.css" rel="stylesheet" />
</head>
<body style="margin:50px;">
	<h1>Servidor de chat WebAula SA.</h1>
	<form id="frmLogin" method="post" action="/monitor">
		<label for="login">Login: </label> <input type="text" id="login" name="login"/>
		<label for="pass">Password: </label><input type="password" id="pass" name="pass" />
		<input type="submit" value="enviar" />
	</form>
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</body>
</html>