<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title></title>
	<link href="/stylesheet/wachat.css" rel="stylesheet" />
</head>
<body style="margin:50px;">
	<h1>Servidor de chat WebAula SA.</h1>
	<div id="divInfo">
		<table id="tblInfo">
			<tr>
				<td class="highlight gray alignRight">
					Tempo Online (Uptime):
				</td>
				<td>
					<span id="uptime"></span>
				</td>
			</tr>
			<tr>
				<td class="highlight gray alignRight">
					Memória Usada:
				</td>
				<td>
					<span id="usedMemory"></span>
				</td>
			</tr>
			<tr>
				<td class="highlight gray alignRight">
					Número de conexões realizadas (Vida do servidor)
				</td>
				<td>
					<span id="maxConnections"></span>
				</td>
			</tr>
			<tr>
				<td class="highlight gray alignRight">
					Usuários Online:
				</td>
				<td>
					<span id="usersOnline"></span>
				</td>
			</tr>
			<tr>
				<td class="highlight gray alignRight">
					Quantidade de Salas:
				</td>
				<td>
					<span id="roomQtd"></span>
				</td>
			</tr>
			<tr>
				<td class="highlight gray alignRight">
					Lista de Salas e Qtd de usuários por sala:
				</td>
				<td>
					<span id="roomsUsersQtd"></span>
				</td>
			</tr>
			<tr>
				<td class="highlight gray alignRight">
					Usuários Online:
				</td>
				<td>
					<span id="userList"></span>
				</td>
			</tr>
		</table>
		<br />
		<br />
		<div id="panelTextLogger" class="panelMsg"></div>
	</div>
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
	<script>
		$(function () {
			var div = document.getElementById('panelTextLogger');
			//var socket = io('http://desenvolvimentoportaldoaluno.webaula.com.br:8090');
			var socket = io('https://young-springs-3257.herokuapp.com:3000/');
			socket.on('connect', function () {
				socket.emit('authentication', { password: 'ABC' });
				socket.emit("admLogin", { login: 'admwebaula', pass: 'wachatadmin' });
			});
			socket.on('info', function (data) {
				var span = "";
				if (data.indexOf("desconectou") > 0) {
					span = '<span class="info diconnect ">' + data + '</span>'
				} else {
					span = '<span class="info">' + data + '</span>'
				}

				$("#panelTextLogger").append(span);
				div.scrollTop = div.scrollHeight;
			});
			socket.on("getServerInfo", function (data) {
				var htmlRooms = "";
				var usedMemory = data.memoryUsed;
				var usersOnline = data.usersOnline;
				var roomQtd = data.roomQtd;
				var roomList = data.roomList;
				var uptime = data.uptime;
				var userList = data.userList;
				var maxConnections = data.maxConnections;
				//
				if (roomList.length > 0) {
					for (var i = 0; i < roomList.length; i++) {
						htmlRooms += "<b>Sala " + roomList[i].id + " :</b> " + roomList[i].qtd + " usuários.<br />"
					}
				}
				//
				$("#uptime").html(uptime);
				$("#usedMemory").html(usedMemory)
				$("#usersOnline").html(usersOnline.toString());
				$("#roomQtd").html(roomQtd.toString());
				$("#roomsUsersQtd").html(htmlRooms);
				$("#userList").html(userList);
				$("#maxConnections").html(maxConnections);
			});
		});
	</script>
</body>
</html>